body {
	/* padding-top: 40px; 
	padding-top: 50px;
	padding-bottom: 40px;*/
	background-color: #f5f5f5;
}
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,  .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],  .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
/* Set the fixed height of the footer here */
      html,  body {
	height: 90%;/* The html and body elements cannot have any padding or margin. */
      }
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
        margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,  #footer {
	height: 40px;
}
#footer {
	/*background-color: #f5f5f5;*/
	background-color:#ddd;
	
}
	  /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}
/* IND, for form-horizontal, reduce the horizontal spacing to use in forms */
.form-horizontal .control-group {
	margin-bottom: 5px; /* IND, spacing between form items */
}
/* IND, using well to display content, the table hover did not play nice, so give it another colour */
.table-hover tbody tr:hover td {
	background-color:#EBEBEB;
}




/*JM,*/
div.form-horizontal, div.control-label {
  float: left;
  width: 120px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
  font-size:12px;
}

label, input, button, select, textarea {
	font-size: 12px;	
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 0px;
  margin-left: 140px;
  *margin-left: 0;
}

.form-horizontal .swinput {
  display: inline-block;
  height: 15px;
  padding: 4px 4px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.row {
	margin-left: auto;
}

.spt {
	margin: 2px; 0px;	
}

element.style{
	margin: 2px 5px 0px;
	padding: 0px;
	border: 0px;
	width: 100%;	
}

/*JM, 31.05.14*/
/*HTML INPUT*/
.input_numeric{
	width:30px;	
}
.input_percent{
	width:30px;	
	maxlength:3;
}

/*DOC HEADER*/
/*#page_header div{
	min-height:25px;
	margin:1px 0px 0px 0px;
}
#page_header span.add-on{
	height:20px; min-height:20px;
	padding:0px 3px;
}*/
#page_header input,select,label{
	min-height:25px;
	padding:0px 3px;
	margin:1px 0px 0px 0px;
}

/*DOC SUMMARY*/
#doc_summary div{
	height:25px; min-height:25px;
	margin:1px 0px 0px 0px;
}
#doc_summary span.add-on{
	height:20px; min-height:20px;
	padding:0px 3px;
}
#doc_summary input{
	padding:0px;
}

.container-fluid{
	padding-top:20px;
	margin-top:20px;	
}

/*form .inactive td{background-color:#CCC;opacity: 0.5;}
thead>tr>th{text-align:center;font-weight:bold;}
#foot_label{text-align:right;}*/
