/* Login Page Stylesheet */

html, body {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
a:link, a:visited {
  color:#5fbf5e;
  text-decoration:none;
}
a:hover, a:active {
  color:#5fbf5e;
  text-decoration:underline;
}

.loginwrapper {
  background-color: #fff;
  height: 750px;
  width: 400px;
  padding:5px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align:center;
}

.loginwrapper .form-horizontal .control-label{
  float: left;
  width: 140px;
  padding: 5px 5px 0 0;
  text-align:right;
}

.vbox {
  text-align:center;
  padding-top:10px;
}

.loginbtm {
  background: rgb(239,239,239); /* Old browsers */
  padding:20px 0;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  border-top:1px solid #ccc;
}
.loginbtm > div {
  display: inline-block;
  width: 44%;
  text-align: right;
}
.login-head img{
    width: 150px;
    float: none;
}

.alert {
  width: 90%;
  margin: 20px;
}
