/* Print.css (assets/css/print.css */
/* Author: Indra Prastha */
html, body, table {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;	
}

.print_time {
	font-size: 11px;
	color:#898989;	
}

h1 { margin-top: 0px; }

.table_data{
	border: solid 1px #BDBDBD;
}

.table_data th{
	text-align:left;
	font-weight: bold;
	border: solid 1px #BDBDBD;
	border-bottom: solid 2px #BDBDBD;
}

.table_data td{
	border: solid 1px #BDBDBD;
}

.table_data tr:nth-child(even) {
    background-color: #F0F0F0;
}

@media print {
  .no-print, .no-print *
    {
        display: none;
    }
}