<span style='color: #000' title='Frames'>   995</span><span style='color: #009' title='Memory'>  48128.00 KB</span><span style='color: #900' title='Time'>  17510.77 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />